@use 'sass:map';
@use '@angular/material' as mat;

.general-info {
  display: flex;
  gap: 15px;

  img {
    inline-size: 110px;
    border-radius: 12px;
    max-inline-size: calc(100% / 3);
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title-row {
      margin-block-start: 2px;
      font-size: 1.2rem;

      .title {
        font-weight: 600;
      }
    }

    .info-row {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      font-size: 1rem;

      .cert {
        padding: 2px 6px;
        border-radius: 8px;
        font-size: 0.75rem;
      }
    }

    .btn-group {
      display: flex;
      justify-content: center;
      gap: 12px;

      button.mat-mdc-fab-base {
        flex-basis: min(40%, 120px);
        block-size: 42px;
      }
    }
  }
}

.rating {
  margin-block-start: 1.2rem;
  inline-size: 100%;
  display: flex;
  justify-content: space-around;

  .score {
    .tmdb-text {
      display: block;
      font-size: 0.8rem;
    }

    .indicator {
      display: inline-block;
      margin-block-start: 0.4rem;
      position: relative;

      .score-number {
        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.8rem;
      }
    }
  }
}

@mixin color($theme) {
  .general-info .text .title-row .year {
    color: mat.get-theme-color($theme, secondary);
  }

  .info-row .cert {
    border: 1px solid mat.get-theme-color($theme, outline);
    color: mat.get-theme-color($theme, outline);
  }
}
