<div class="general-info">
  <img [src]="posterPath() | imageFallback" [alt]="movieDetails().title" />
  <div class="text">
    <span class="title-row">
      <span class="title">{{ movieDetails().original_title }}</span>
      <span class="year">
        ({{ movieDetails().release_date | date : 'yyyy' }})</span
      >
    </span>
    <span class="info-row">
      <span class="cert">{{ certification() }}</span>
      <span class="date">{{
        movieDetails().release_date | date : 'dd-MM-yyyy'
      }}</span>
      <span class="country">
        @for(country of movieDetails().origin_country; track $index) {
        <span>{{ country }}</span>
        @if(!$last) {
        <span>|</span>
        }}
      </span>
      <span
        >@for(genre of movieDetails().genres; track $index) {
        <span>{{ genre.name }}</span>
        <span>/</span>}{{ movieDetails().runtime }}m
      </span>
      <span></span>
    </span>
    <span class="btn-group">
      <button mat-fab><mat-icon>add</mat-icon></button
      ><button mat-fab><mat-icon>favorite</mat-icon></button>
    </span>
  </div>
</div>
<div class="rating">
  <span class="score">
    <span class="tmdb-text">TMDB Score:</span>
    <span class="indicator">
      <span class="score-number">{{ score() }}</span>
      <mat-progress-spinner mode="determinate" [value]="score()" diameter="65">
      </mat-progress-spinner>
    </span>
  </span>
  <span class="go-rate">Rate This Movie</span>
</div>
