section {
  padding-inline: 0.8rem;
  margin-block-end: 1rem;

  mat-button-toggle-group {
    margin-block-end: 0.8rem;
  }

  &.horizontal-scroller {
    overflow-x: scroll;
    white-space: nowrap;
    padding-block-end: 8px;
  }

  app-movie-card-rating {
    margin-inline-end: 8px;
  }
}
