:host {
  block-size: 100%;
  display: grid;
  place-items: center;

  section {
    text-align: center;

    p {
      font-size: 2rem;
      font-weight: 500;
    }

    a {
      font-size: 1rem;
    }
  }
}
